CompanyApplication/CompanyApplication/Connected Services/CompanyRef/CompanyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompanyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CompanyService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompanyService_SaveFamilyDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFamilyDetails" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_SaveFamilyDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFamilyDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetFamilyMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFamilyMembers" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetFamilyMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFamilyMembersResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetFamilyRelations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFamilyRelations" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetFamilyRelations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFamilyRelationsResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_AddRelations_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRelations" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_AddRelations_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRelationsResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_SearchApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchApplication" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_SearchApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompanyService">
    <wsdl:operation name="SaveFamilyDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/SaveFamilyDetails" message="tns:ICompanyService_SaveFamilyDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/SaveFamilyDetailsResponse" message="tns:ICompanyService_SaveFamilyDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFamilyMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetFamilyMembers" message="tns:ICompanyService_GetFamilyMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetFamilyMembersResponse" message="tns:ICompanyService_GetFamilyMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFamilyRelations">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetFamilyRelations" message="tns:ICompanyService_GetFamilyRelations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetFamilyRelationsResponse" message="tns:ICompanyService_GetFamilyRelations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRelations">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/AddRelations" message="tns:ICompanyService_AddRelations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/AddRelationsResponse" message="tns:ICompanyService_AddRelations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/SearchApplication" message="tns:ICompanyService_SearchApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/SearchApplicationResponse" message="tns:ICompanyService_SearchApplication_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompanyService" type="tns:ICompanyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveFamilyDetails">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/SaveFamilyDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFamilyMembers">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/GetFamilyMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFamilyRelations">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/GetFamilyRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRelations">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/AddRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchApplication">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/SearchApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyService">
    <wsdl:port name="BasicHttpBinding_ICompanyService" binding="tns:BasicHttpBinding_ICompanyService">
      <soap:address location="http://localhost:8080/CompanyService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>