CompanyApplication/CompanyApplication/Connected Services/CompanyRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CompanyService" />
  <xs:element name="SaveFamilyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CompanyService" minOccurs="0" name="member" nillable="true" type="q1:FamilyMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFamilyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveFamilyDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamilyMembers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamilyMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CompanyService" minOccurs="0" name="GetFamilyMembersResult" nillable="true" type="q2:ArrayOfFamilyMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamilyRelations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamilyRelationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CompanyService" minOccurs="0" name="GetFamilyRelationsResult" nillable="true" type="q3:ArrayOfFamilyMemberRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CompanyService" minOccurs="0" name="familyMemberRelation" nillable="true" type="q4:FamilyMemberRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRelationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CompanyService" minOccurs="0" name="SearchApplicationResult" nillable="true" type="q5:ArrayOfFamilyMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>