CompanyApplication/CompanyApplication/Connected Services/CompanyRef/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CompanyService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CompanyService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FamilyMember">
    <xs:sequence>
      <xs:element name="_x003C_ApplicationId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DateOfBirth_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Gender_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MiddleName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Suffix_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FamilyMember" nillable="true" type="tns:FamilyMember" />
  <xs:complexType name="ArrayOfFamilyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FamilyMember" nillable="true" type="tns:FamilyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamilyMember" nillable="true" type="tns:ArrayOfFamilyMember" />
  <xs:complexType name="ArrayOfFamilyMemberRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FamilyMemberRelation" nillable="true" type="tns:FamilyMemberRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamilyMemberRelation" nillable="true" type="tns:ArrayOfFamilyMemberRelation" />
  <xs:complexType name="FamilyMemberRelation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FamilyMemberId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RelationId" type="xs:int" />
      <xs:element minOccurs="0" name="RelationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FamilyMemberRelation" nillable="true" type="tns:FamilyMemberRelation" />
</xs:schema>